article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Natalie Baranova has added: main, button, input, and textarea to the first part of the list below (resetting margins etc).
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, button, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end of meyerweb.com input*/

li {
	display: inline-block;
}

// remove default anchor tag styling

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.lowercase-font {
	text-transform: lowercase;
}

// MIXINS & VARIABLES

// font mixin
@mixin fontStyling($font-familyValue, $font-sizeValue, $font-weightValue, $text-transformValue, $text-alignValue) {	
	color: $darkest;
	font-family: $font-familyValue;
	font-size: $font-sizeValue;
	font-weight: $font-weightValue;
	text-transform: $text-transformValue;
	text-align: $text-alignValue;
}

// font family variables
$general: 'Roboto', sans-serif;
$header: 'Dosis', sans-serif;

// colour variables
$darkest: rgba(35, 35, 35, 1);
$med-dark-font:  rgba(35, 35, 35, 0.65);
$dark-fill: rgba(35, 35, 35, 0.8);
$active-color: rgba(212, 61, 50, 1);
$active-fill: rgba(212, 61, 50, 0.8);
$section-fill: rgba(255, 165, 0, 0.75);
$orange-yellow-transparency: rgba(255, 165, 0, 0.25);


// GENERAL STYLES

.outter-wrapper {
	max-width: 1920px;
	font-family: $general;
	// margin-top: 100px;
}

.inner-wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

h1 {
	@include fontStyling($header, 50px, 800, uppercase, left);
	padding-top: 15px;
	padding-bottom: 20px;
	letter-spacing: 0.05em;
}

h2 {
	@include fontStyling($header, 36px, bold, uppercase, left);
	padding-top: 120px;
	padding-bottom: 60px;
}

header h2 {
	@include fontStyling($header, 24px, regular, uppercase, left)
}

h3 {
	@include fontStyling($header, 24px, bold, uppercase, left);
	padding-bottom: 30px;
}

h4 {
	@include fontStyling($header, 18px, bold, uppercase, left);
	padding-top: 12px;
	padding-bottom: 25px;
}

h5 {
	@include fontStyling($header, 14px, regular, uppercase, left);
	padding-top: 13px;
	padding-bottom: 12px;
	border-bottom: 1px solid $darkest;
	line-height: 1.5;
}


#contact p {
	@include fontStyling($header, 16px, regular, capitalize, center)
}

footer p {
	@include fontStyling($header, 16px, regular, capitalize, right);
}

img {
	display: block;
	max-width: 100%;
}

.hidden {
	display: none;
}

// KEYLINES (H2)

h2.keyline-left {
	position: relative;
}

h2.keyline-left:after {
	position: absolute;
	display: block;
	content: "";
	width: 120px;
	height: 2px;
	background-color: $darkest;
	bottom: 30px;
}

h2.keyline-center {
	position: relative;
}

h2.keyline-center:after {
	position: absolute;
	display: block;
	content: "";
	width: 120px;
	height: 2px;
	background-color: $darkest;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

// OFFSET NAV AFTER MENU OPTION SELECTED
// STOPS NAV FROM BLOCKING SECTION HEADER OF SELECTED SECTION

#about {
	position: relative;
}

#about-snap {
	position: absolute;
	top: -25px;
}

#portfolio {
	position: relative;
}

#portfolio-snap {
	position: absolute;
	top: -25px;
}

	/* if selecting from pop-up menu (small screen) */
	@media (max-width: 525px) {

		#about-snap {
			top: -5px;
		}
		#portfolio-snap {
			top: -5px;
		}
		// home top offest only applicable in mobile
		// #home {
		// 	position: relative;
		// }
		// #home-snap {
		// 	position: absolute;
		// 	top: -100px;
		// }
	}

// NAV SECTION

nav {
	height: 100px;
	transition: all 1s ease;
	position: relative;
}

nav a {
	@include fontStyling($general, 14px, regular, uppercase, center);
	&:hover {
		color: $darkest;
	}
	&:active {
		color: $active-color;
	}
}

.resume-button {
	padding: 12px 22px;
	border: 2px solid $darkest;
	text-align: center;
	&:hover {
		color: white;
		background-color: $dark-fill;
	}
	&:active {
		font-weight: bold;
		border: 2px solid $active-color;
		background-color: $active-fill;
	}
}

.LHS-RHS-splitter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.LHS-nav {
	width: 20%;
}

.RHS-nav {
	width: 80%;
	ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	li {
		padding-right: 40px;
		padding-top: 10px;
		padding-bottom: 10px;
		color: $med-dark-font;
	}
	li:last-of-type {
		padding-right: 0px;
	}
}

	/* display burger bars instead of RHS nav buttons */
	@media (max-width: 525px) {
		.mobile-unhidden {
			display: block;
			i {
				font-size: 25px;
			}
		}
		.mobile-hidden {
			display: none;
		}

	}

// NAV SCROLL SETTINGS (set with JS)

.invisibleNav {
	opacity: 0;
}

.fixedNav {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 100;
}

// MENU BAR POP-UP

.menu-open {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 50vh;
	background-color: $darkest;
	color: $section-fill;
	z-index: 150;
	&:hover {
		color: $section-fill;
	}
	&:active {
		color: $active-color;
	}
	i {
		font-size: 25px;
		position: absolute;
		right: 30px;
		top: 37.5px;
	}

	li {
		width: 100%;
		text-align: center;
		padding: 10px;
	}
	li:first-child {
		margin-top: 64.5px;
	}

	li a {
		font-family: $header;
		text-align: center;
		font-size: 20px;
		display: inline-block;
		letter-spacing: 5px;
		font-weight: 600;
		top: 50%;

		color: $section-fill;
	}
	
}

// HEADER SECTION

header {
	// height: 600px;
	height: 86vh;
	background-image: url(../images/natalieBaranova-website.jpg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	background-color: $section-fill;
	.inner-wrapper {
		height: 100%;
		position: relative;
	}
	.title-blocks {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	h2 {
		padding-top: 0;
		padding-bottom: 0;
	}
}

	/* super large screens */
	/* shift background img to avoid colliding w font */
	@media (max-width: 1320px) {
		@media (min-height: 815px) {
			header {
				background-position: 140%;
			}
		}
	}

	/* super large screens */
	/* shift background img to avoid colliding w font */
	@media (max-width: 1190px) {
		@media (min-height: 950px) {
			header {
				background-position: 357%;
			}
		}
	}


	/* small to medium desktops */
	@media (max-width: 985px) {
		header {
			background-position: right;
			.title-blocks {
				display: flex;
				flex-direction: column-reverse;
				position: absolute;
				top: 42%;
				padding-top: 10px;
				left: -155px;
				transform: rotate(-90deg);
			}
		}
	}

	/* scale header (image) height and adjust title blocks vertically */
	@media (max-width: 784px) {
		header {
			// height: 465px;
			height: 70vh;
			.title-blocks {
				top: 37%;
			}
		}

	}

	/* move title blocks to bottom of image*/
	@media (max-width: 640px) {
		header {
			height: 320px;
			background-image: none;
			.title-blocks {
				display: flex;
				flex-direction: column;
				position: absolute;
				top: 50%;
				left: 15px;
				// position: absolute;
				// top: 42%;
				// padding-top: 10px;
				// left: -155px;
				transform: rotate(0) translateY(-50%);
			}
		}

	}


// ABOUT SECTION: 
main {
	.inner-wrapper {
		display: flex;
		flex-direction: row;
	}
}

.LHS-about {
	width: 65.35%;
	p {
		line-height: 26px;
		margin-top: 15px;
	}
	p:first-of-type {
		margin-top: 0;
	}
	.inner-about-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.small-about-container-left {
			width: calc( 40% - 30px);
			padding-top: 50px;
		}
		.small-about-container-right {
			width: calc( 60% - 30px);
			padding-top: 50px;
		}
	}
}

.RHS-about {
	width: 34.65%;
	text-transform: uppercase;
	text-align: center;
	padding: 0 30px;
	li {
		width: 32.5%;
		padding-bottom: 25px;
		p {
			padding-bottom: 10px;
		}
		i {
			font-size: 35px;
		}
	}
	li:last-of-type {
		padding-top: 60px;
		width: 100%;
		p {
			padding-bottom: 40px;
		}
		i {
			width: 31.25%;
			font-size: 60px;
		}
	}
}

	/* small to medium desktops */
	@media (max-width: 1129px) {
		// convert RHS-about section h2 to center 
		// convert RHS-about section h2 keyline-left to keyline-center
		.RHS-about {
			h2 {
				text-align: center;
			}
			.keyline-left:after {
				position: absolute;
				display: block;
				content: "";
				width: 120px;
				height: 2px;
				background-color: $darkest;
				bottom: 30px;
				left: 50%;
				transform: translateX(-50%);
			}
			li:last-of-type {
				padding-top: 10px;
			}
		}
	}

	/* small to medium desktops */
	@media (max-width: 790px) {		
		main {
			.inner-wrapper {
				flex-direction: column;
			}
			.LHS-about, .RHS-about {
				width: 100%;
			}
			.RHS-about li:last-of-type p {
				padding-bottom: 20px;
			}
		}
	}

	@media (max-width: 650px) {
		.RHS-about {
			padding: 0px
		}
	}

	// stack small about containers on top of each other
	@media (max-width: 650px) {
		.LHS-about {
			.inner-about-container {
				flex-wrap: wrap;
				.small-about-container-left {
					width: 100%;
					padding-top: 50px;
				}
				.small-about-container-right {
					width: 100%;
					padding-top: 50px;
				}
			}
		}
	}

// PORTFOLIO SECTION

#portfolio {
	.inner-wrapper {
		padding: 0 15px;
	}
	h2, p {
		text-align: center;
	}
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		p {
			line-height: 26px;
			margin-top: 15px;
			text-align: left;
		}
		p:first-of-type {
			margin-top: 0;
		}
	}
	li {
		width: calc( 32% - 15px);
		padding-bottom: 15px;
		position: relative;
		span.keyline-sm {
			margin-left: 15px;
			position: relative;
		}
		span.keyline-sm:before {
			position: absolute;
			display: inline-block;
			content: "";
			background-color: $darkest;
			width: 5px;
			height: 1px;
			bottom: 7px;
			left: -11px;
		}
	}
	li:first-of-type {
		width: 100%;
		padding-bottom: 50px;
	}
}

.portfolio-gallery {
	margin-top: 55px;
	li:nth-of-type(2), li:nth-of-type(4) {
		.portfolio-links-container {
			position: absolute;
			bottom: 15px;
			width: 100%;
		}
	}
}

.image-holder {
	background-color: grey;
	img {
		width: 100%;
	}
}

.image-holder.large {
	display: flex;
	flex-direction: row;
	.image-left {
		width: 50%;
	}
	.image-right {
		width: 50%;
		background-color: rgba(35, 35, 42, 0.95);
	}
}

.portfolio-links-container {
	margin: 25px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	.portfolio-link-button {
		padding: 5px 20px;
		border: 2px solid $darkest;
		text-align: center;
		&:hover {
			color: white;
			background-color: $dark-fill;
		}
		&:active {
			font-weight: bold;
			border: 2px solid $active-color;
			background-color: $active-fill;
		}
	}
	.social-icons-portfolio i {
		font-size: 20px;
		padding: 0 5px;
	    transition: all 0.25s ease;
		&:hover {
    		transform: scale(1.3);
		}
		&:active {
			font-weight: bold;
			color: $active-color;
		}
	}
}

.lg-portfolio-flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.description {
		width: calc(85% - 7.5px);
	}
	.portfolio-links-container {
		width: calc(15% - 7.5px);
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		a {
			margin-bottom: 15px;
		}
		.links-section-portfolio a {
			display: block;
		}
		.social-icons-portfolio {
			margin-bottom: 30px;
		}
	}
}

	/* Portrait tablet and small desktops */
	@media (max-width: 985px) {
		.lg-portfolio-flex-container {
			flex-direction: column;
			justify-content: space-between;
			.description {
				width: 100%;
			}
			.portfolio-links-container {
				width: 100%;
				margin-top: 25px;
				flex-direction: row;
				.links-section-portfolio a {
					display: inline-block;
					margin-bottom: 0px;
				}
				.social-icons-portfolio {
					margin-bottom: 30px;
				}
			}
		}
	}

	/* Portrait tablet and small desktops */
	@media (max-width: 735px) {
		.portfolio-links-container {
			flex-direction: column-reverse;
			align-items: flex-start;
			margin-top: 15px;
			.social-icons-portfolio {
				padding-bottom: 25px;
			}
		}
	}

	/* convert row of 3 cells to 2 cells per row  */
	/* vertically place cells w padding, center last cell */
	@media (max-width: 670px) {
		#portfolio {
			li {
				width: 100%;
				padding-bottom: 50px;
				div.hidden-at-670px {
					display: none;
					width: 0;
				}
				div.unhidden-at-670px {
					display: block;
					width: 100%;
				}
			}
			li:first-of-type {
				padding-bottom: 8px;
			}


		}
		.portfolio-gallery {
			li:nth-of-type(2) {
				.portfolio-links-container {
					bottom: 50px;
				}
			}
			li:nth-of-type(2), li:nth-of-type(4) {
				.portfolio-links-container {
					position: static;
				}
			}
		}
	}


// CONTACT SECTION

#contact {
	margin-top: 80px;
	padding-top: 90px;
	padding-bottom: 90px;
	text-align: center;
	background-color: $section-fill;
	h2 {
		text-align: center;
		padding-top: 0;
	}
	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		i.fa {
			font-size: 40px;
			padding-bottom: 25px;
			transition: all 0.25s ease;
			&:hover {
				transform: scale(1.3);
			}
			&:active {
				font-weight: bold;
				color: $active-color;
			}
		}
		li:nth-of-type(3) i.fa {
			font-size: 50px;
		}
	}
}


/* footer social icons - single row to dbl row */
@media (max-width: 550px) {
	#contact {
		ul {
			flex-wrap: wrap;
			li {
				width: 50%;
			}
			li:nth-of-type(n+3) {
				margin-top: 20px;
			}
			li:last-of-type {
				i.fa {
					padding-bottom: 25px;
				}
				p {
					text-align: center;
				}
				p:first-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}

/* footer social icons - reduce to 1 icon per row */
/*  & adj padding top of app, remove 2nd row margin top */
@media (max-width: 325px) {
	#contact {
		ul {
			li {
				width: 100%;
				padding-top: 50px;
			}
			li:nth-of-type(n+3) {
				margin-top: 0;
			}
		}
	}
}


// FOOTER SECTION

footer {
	p {
		text-transform: none;
		padding-top: 60px;
		padding-bottom: 60px;
		text-align: center;
	}
	p:first-child {
		padding-bottom: 15px;
	}
	p:last-child {
		padding-top: 15px;
	}
}

/* Portrait tablet and small desktops */
// @media (max-width: 940px) {
// 	body {
// 		background-color: red;
// 	}
// }

/* Landscape phone to portrait tablet */
// @media (max-width: 768px) {
// 	body {
// 		background-color: blue;
// 	}
// }

/* Landscape phones and down */
// @media (max-width: 480px) {
// 	body {
// 		background-color: yellow;
// 	}
// }
