article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Natalie Baranova has added: main, button, input, and textarea to the first part of the list below (resetting margins etc).
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, button, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*end of meyerweb.com input*/
li {
  display: inline-block; }

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto; }

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto; }

.lowercase-font {
  text-transform: lowercase; }

.outter-wrapper {
  max-width: 1920px;
  font-family: "Roboto", sans-serif; }

.inner-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

h1 {
  color: #232323;
  font-family: "Dosis", sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 20px;
  letter-spacing: 0.05em; }

h2 {
  color: #232323;
  font-family: "Dosis", sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  padding-top: 120px;
  padding-bottom: 60px; }

header h2 {
  color: #232323;
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  font-weight: regular;
  text-transform: uppercase;
  text-align: left; }

h3 {
  color: #232323;
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 30px; }

h4 {
  color: #232323;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 25px; }

h5 {
  color: #232323;
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  font-weight: regular;
  text-transform: uppercase;
  text-align: left;
  padding-top: 13px;
  padding-bottom: 12px;
  border-bottom: 1px solid #232323;
  line-height: 1.5; }

#contact p {
  color: #232323;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  font-weight: regular;
  text-transform: capitalize;
  text-align: center; }

footer p {
  color: #232323;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  font-weight: regular;
  text-transform: capitalize;
  text-align: right; }

img {
  display: block;
  max-width: 100%; }

.hidden {
  display: none; }

h2.keyline-left {
  position: relative; }

h2.keyline-left:after {
  position: absolute;
  display: block;
  content: "";
  width: 120px;
  height: 2px;
  background-color: #232323;
  bottom: 30px; }

h2.keyline-center {
  position: relative; }

h2.keyline-center:after {
  position: absolute;
  display: block;
  content: "";
  width: 120px;
  height: 2px;
  background-color: #232323;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%); }

#about {
  position: relative; }

#about-snap {
  position: absolute;
  top: -25px; }

#portfolio {
  position: relative; }

#portfolio-snap {
  position: absolute;
  top: -25px; }

/* if selecting from pop-up menu (small screen) */
@media (max-width: 525px) {
  #about-snap {
    top: -5px; }
  #portfolio-snap {
    top: -5px; } }

nav {
  height: 100px;
  transition: all 1s ease;
  position: relative; }

nav a {
  color: #232323;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: regular;
  text-transform: uppercase;
  text-align: center; }
  nav a:hover {
    color: #232323; }
  nav a:active {
    color: #d43d32; }

.resume-button {
  padding: 12px 22px;
  border: 2px solid #232323;
  text-align: center; }
  .resume-button:hover {
    color: white;
    background-color: rgba(35, 35, 35, 0.8); }
  .resume-button:active {
    font-weight: bold;
    border: 2px solid #d43d32;
    background-color: rgba(212, 61, 50, 0.8); }

.LHS-RHS-splitter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.LHS-nav {
  width: 20%; }

.RHS-nav {
  width: 80%; }
  .RHS-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
  .RHS-nav li {
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(35, 35, 35, 0.65); }
  .RHS-nav li:last-of-type {
    padding-right: 0px; }

/* display burger bars instead of RHS nav buttons */
@media (max-width: 525px) {
  .mobile-unhidden {
    display: block; }
    .mobile-unhidden i {
      font-size: 25px; }
  .mobile-hidden {
    display: none; } }

.invisibleNav {
  opacity: 0; }

.fixedNav {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 100; }

.menu-open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  background-color: #232323;
  color: rgba(255, 165, 0, 0.75);
  z-index: 150; }
  .menu-open:hover {
    color: rgba(255, 165, 0, 0.75); }
  .menu-open:active {
    color: #d43d32; }
  .menu-open i {
    font-size: 25px;
    position: absolute;
    right: 30px;
    top: 37.5px; }
  .menu-open li {
    width: 100%;
    text-align: center;
    padding: 10px; }
  .menu-open li:first-child {
    margin-top: 64.5px; }
  .menu-open li a {
    font-family: "Dosis", sans-serif;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    letter-spacing: 5px;
    font-weight: 600;
    top: 50%;
    color: rgba(255, 165, 0, 0.75); }

header {
  height: 86vh;
  background-image: url(../images/natalieBaranova-website.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: rgba(255, 165, 0, 0.75); }
  header .inner-wrapper {
    height: 100%;
    position: relative; }
  header .title-blocks {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  header h2 {
    padding-top: 0;
    padding-bottom: 0; }

/* super large screens */
/* shift background img to avoid colliding w font */
@media (max-width: 1320px) and (min-height: 815px) {
  header {
    background-position: 140%; } }

/* super large screens */
/* shift background img to avoid colliding w font */
@media (max-width: 1190px) and (min-height: 950px) {
  header {
    background-position: 357%; } }

/* small to medium desktops */
@media (max-width: 985px) {
  header {
    background-position: right; }
    header .title-blocks {
      display: flex;
      flex-direction: column-reverse;
      position: absolute;
      top: 42%;
      padding-top: 10px;
      left: -155px;
      transform: rotate(-90deg); } }

/* scale header (image) height and adjust title blocks vertically */
@media (max-width: 784px) {
  header {
    height: 70vh; }
    header .title-blocks {
      top: 37%; } }

/* move title blocks to bottom of image*/
@media (max-width: 640px) {
  header {
    height: 320px;
    background-image: none; }
    header .title-blocks {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: rotate(0) translateY(-50%); } }

main .inner-wrapper {
  display: flex;
  flex-direction: row; }

.LHS-about {
  width: 65.35%; }
  .LHS-about p {
    line-height: 26px;
    margin-top: 15px; }
  .LHS-about p:first-of-type {
    margin-top: 0; }
  .LHS-about .inner-about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .LHS-about .inner-about-container .small-about-container-left {
      width: calc( 40% - 30px);
      padding-top: 50px; }
    .LHS-about .inner-about-container .small-about-container-right {
      width: calc( 60% - 30px);
      padding-top: 50px; }

.RHS-about {
  width: 34.65%;
  text-transform: uppercase;
  text-align: center;
  padding: 0 30px; }
  .RHS-about li {
    width: 32.5%;
    padding-bottom: 25px; }
    .RHS-about li p {
      padding-bottom: 10px; }
    .RHS-about li i {
      font-size: 35px; }
  .RHS-about li:last-of-type {
    padding-top: 60px;
    width: 100%; }
    .RHS-about li:last-of-type p {
      padding-bottom: 40px; }
    .RHS-about li:last-of-type i {
      width: 31.25%;
      font-size: 60px; }

/* small to medium desktops */
@media (max-width: 1129px) {
  .RHS-about h2 {
    text-align: center; }
  .RHS-about .keyline-left:after {
    position: absolute;
    display: block;
    content: "";
    width: 120px;
    height: 2px;
    background-color: #232323;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%); }
  .RHS-about li:last-of-type {
    padding-top: 10px; } }

/* small to medium desktops */
@media (max-width: 790px) {
  main .inner-wrapper {
    flex-direction: column; }
  main .LHS-about, main .RHS-about {
    width: 100%; }
  main .RHS-about li:last-of-type p {
    padding-bottom: 20px; } }

@media (max-width: 650px) {
  .RHS-about {
    padding: 0px; } }

@media (max-width: 650px) {
  .LHS-about .inner-about-container {
    flex-wrap: wrap; }
    .LHS-about .inner-about-container .small-about-container-left {
      width: 100%;
      padding-top: 50px; }
    .LHS-about .inner-about-container .small-about-container-right {
      width: 100%;
      padding-top: 50px; } }

#portfolio .inner-wrapper {
  padding: 0 15px; }

#portfolio h2, #portfolio p {
  text-align: center; }

#portfolio ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  #portfolio ul p {
    line-height: 26px;
    margin-top: 15px;
    text-align: left; }
  #portfolio ul p:first-of-type {
    margin-top: 0; }

#portfolio li {
  width: calc( 32% - 15px);
  padding-bottom: 15px;
  position: relative; }
  #portfolio li span.keyline-sm {
    margin-left: 15px;
    position: relative; }
  #portfolio li span.keyline-sm:before {
    position: absolute;
    display: inline-block;
    content: "";
    background-color: #232323;
    width: 5px;
    height: 1px;
    bottom: 7px;
    left: -11px; }

#portfolio li:first-of-type {
  width: 100%;
  padding-bottom: 50px; }

.portfolio-gallery {
  margin-top: 55px; }
  .portfolio-gallery li:nth-of-type(2) .portfolio-links-container, .portfolio-gallery li:nth-of-type(4) .portfolio-links-container {
    position: absolute;
    bottom: 15px;
    width: 100%; }

.image-holder {
  background-color: grey; }
  .image-holder img {
    width: 100%; }

.image-holder.large {
  display: flex;
  flex-direction: row; }
  .image-holder.large .image-left {
    width: 50%; }
  .image-holder.large .image-right {
    width: 50%;
    background-color: rgba(35, 35, 42, 0.95); }

.portfolio-links-container {
  margin: 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .portfolio-links-container .portfolio-link-button {
    padding: 5px 20px;
    border: 2px solid #232323;
    text-align: center; }
    .portfolio-links-container .portfolio-link-button:hover {
      color: white;
      background-color: rgba(35, 35, 35, 0.8); }
    .portfolio-links-container .portfolio-link-button:active {
      font-weight: bold;
      border: 2px solid #d43d32;
      background-color: rgba(212, 61, 50, 0.8); }
  .portfolio-links-container .social-icons-portfolio i {
    font-size: 20px;
    padding: 0 5px;
    transition: all 0.25s ease; }
    .portfolio-links-container .social-icons-portfolio i:hover {
      transform: scale(1.3); }
    .portfolio-links-container .social-icons-portfolio i:active {
      font-weight: bold;
      color: #d43d32; }

.lg-portfolio-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .lg-portfolio-flex-container .description {
    width: calc(85% - 7.5px); }
  .lg-portfolio-flex-container .portfolio-links-container {
    width: calc(15% - 7.5px);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .lg-portfolio-flex-container .portfolio-links-container a {
      margin-bottom: 15px; }
    .lg-portfolio-flex-container .portfolio-links-container .links-section-portfolio a {
      display: block; }
    .lg-portfolio-flex-container .portfolio-links-container .social-icons-portfolio {
      margin-bottom: 30px; }

/* Portrait tablet and small desktops */
@media (max-width: 985px) {
  .lg-portfolio-flex-container {
    flex-direction: column;
    justify-content: space-between; }
    .lg-portfolio-flex-container .description {
      width: 100%; }
    .lg-portfolio-flex-container .portfolio-links-container {
      width: 100%;
      margin-top: 25px;
      flex-direction: row; }
      .lg-portfolio-flex-container .portfolio-links-container .links-section-portfolio a {
        display: inline-block;
        margin-bottom: 0px; }
      .lg-portfolio-flex-container .portfolio-links-container .social-icons-portfolio {
        margin-bottom: 30px; } }

/* Portrait tablet and small desktops */
@media (max-width: 735px) {
  .portfolio-links-container {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 15px; }
    .portfolio-links-container .social-icons-portfolio {
      padding-bottom: 25px; } }

/* convert row of 3 cells to 2 cells per row  */
/* vertically place cells w padding, center last cell */
@media (max-width: 670px) {
  #portfolio li {
    width: 100%;
    padding-bottom: 50px; }
    #portfolio li div.hidden-at-670px {
      display: none;
      width: 0; }
    #portfolio li div.unhidden-at-670px {
      display: block;
      width: 100%; }
  #portfolio li:first-of-type {
    padding-bottom: 8px; }
  .portfolio-gallery li:nth-of-type(2) .portfolio-links-container {
    bottom: 50px; }
  .portfolio-gallery li:nth-of-type(2) .portfolio-links-container, .portfolio-gallery li:nth-of-type(4) .portfolio-links-container {
    position: static; } }

#contact {
  margin-top: 80px;
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
  background-color: rgba(255, 165, 0, 0.75); }
  #contact h2 {
    text-align: center;
    padding-top: 0; }
  #contact ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    #contact ul i.fa {
      font-size: 40px;
      padding-bottom: 25px;
      transition: all 0.25s ease; }
      #contact ul i.fa:hover {
        transform: scale(1.3); }
      #contact ul i.fa:active {
        font-weight: bold;
        color: #d43d32; }
    #contact ul li:nth-of-type(3) i.fa {
      font-size: 50px; }

/* footer social icons - single row to dbl row */
@media (max-width: 550px) {
  #contact ul {
    flex-wrap: wrap; }
    #contact ul li {
      width: 50%; }
    #contact ul li:nth-of-type(n+3) {
      margin-top: 20px; }
    #contact ul li:last-of-type i.fa {
      padding-bottom: 25px; }
    #contact ul li:last-of-type p {
      text-align: center; }
    #contact ul li:last-of-type p:first-of-type {
      margin-bottom: 0; } }

/* footer social icons - reduce to 1 icon per row */
/*  & adj padding top of app, remove 2nd row margin top */
@media (max-width: 325px) {
  #contact ul li {
    width: 100%;
    padding-top: 50px; }
  #contact ul li:nth-of-type(n+3) {
    margin-top: 0; } }

footer p {
  text-transform: none;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center; }

footer p:first-child {
  padding-bottom: 15px; }

footer p:last-child {
  padding-top: 15px; }

/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
